################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BallastLaneBackEnd/obj
/src/BallastLaneBackEnd.Domain/obj/Debug/net6.0/BallastLaneBackEnd.Domain.AssemblyInfo.cs
/src/BallastLaneBackEnd.Domain/obj/Debug/net6.0/BallastLaneBackEnd.Domain.AssemblyInfoInputs.cache
/src/BallastLaneBackEnd.Infra/obj/Debug/net6.0/BallastLaneBackEnd.Infra.AssemblyInfo.cs
/src/BallastLaneBackEnd.Infra/obj/Debug/net6.0/BallastLaneBackEnd.Infra.AssemblyInfoInputs.cache
/src/BallastLaneBackEnd.Infra/obj/Debug/net6.0/BallastLaneBackEnd.Infra.assets.cache
/src/BallastLaneBackEnd.Infra/obj/Debug/net6.0/BallastLaneBackEnd.Infra.GeneratedMSBuildEditorConfig.editorconfig
/src/BallastLaneBackEnd.Infra/obj/Release/net6.0/BallastLaneBackEnd.Infra.AssemblyInfo.cs
/src/BallastLaneBackEnd.Infra/obj/Release/net6.0/BallastLaneBackEnd.Infra.AssemblyInfoInputs.cache
/src/BallastLaneBackEnd.Infra/obj/Release/net6.0/BallastLaneBackEnd.Infra.assets.cache
/src/BallastLaneBackEnd.Infra/obj/Release/net6.0/BallastLaneBackEnd.Infra.GeneratedMSBuildEditorConfig.editorconfig
/src/BallastLaneBackEnd.Domain/obj/Release/net6.0/BallastLaneBackEnd.Domain.AssemblyInfo.cs
/src/BallastLaneBackEnd.Domain/obj/Release/net6.0/BallastLaneBackEnd.Domain.AssemblyInfoInputs.cache
/src/BallastLaneBackEnd/bin/Debug/net6.0
*.dll
/src/BallastLaneBackEnd/obj/Debug/net6.0/staticwebassets
/src/BallastLaneBackEnd/obj/Debug/net6.0/apphost.exe
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastL.B210F965.Up2Date
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.AssemblyInfo.cs
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.AssemblyInfoInputs.cache
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.csproj.BuildWithSkipAnalyzers
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.csproj.CoreCompileInputs.cache
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.csproj.FileListAbsolute.txt
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.genruntimeconfig.cache
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.MvcApplicationPartsAssemblyInfo.cache
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.MvcApplicationPartsAssemblyInfo.cs
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.pdb
/src/BallastLaneBackEnd/obj/Debug/net6.0/BallastLaneBackEnd.Api.sourcelink.json
/src/BallastLaneBackEnd/obj/Debug/net6.0/staticwebassets.build.json
/src/BallastLaneBackEnd/obj/Release/net6.0/BallastLaneBackEnd.Api.AssemblyInfo.cs
/src/BallastLaneBackEnd/obj/Release/net6.0/BallastLaneBackEnd.Api.AssemblyInfoInputs.cache
/src/BallastLaneBackEnd/BallastLaneBackEnd.Api.csproj.user
/BallastLaneBackEnd.Application/obj/Debug/net6.0
/BallastLaneBackEnd.Application/obj
/src/BallastLaneBackEnd.Api/bin/Debug/net6.0
/src/BallastLaneBackEnd.Api/obj
/src/BallastLaneBackEnd.Domain/obj/Debug/net6.0/BallastLaneBackEnd.Domain.assets.cache
/src/BallastLaneBackEnd.Domain/obj/Debug/net6.0/BallastLaneBackEnd.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/BallastLaneBackEnd.Domain/obj/BallastLaneBackEnd.Domain.csproj.nuget.dgspec.json
/src/BallastLaneBackEnd.Domain/obj/project.nuget.cache
/src/BallastLaneBackEnd.Infra/obj/BallastLaneBackEnd.Infra.csproj.nuget.dgspec.json
/src/BallastLaneBackEnd.Infra/obj/BallastLaneBackEnd.Infra.csproj.nuget.g.props
/src/BallastLaneBackEnd.Infra/obj/BallastLaneBackEnd.Infra.csproj.nuget.g.targets
/src/BallastLaneBackEnd.Infra/obj/Debug/net6.0/BallastLaneBackEnd.Infra.csproj.AssemblyReference.cache
/src/BallastLaneBackEnd.Infra/obj/project.assets.json
/src/BallastLaneBackEnd.Infra/obj/project.nuget.cache
/src/BallastLaneBackEnd.Application/obj/Debug/net6.0
/src/BallastLaneBackEnd.Application/obj
/src/BallastLaneBackEnd.Application/bin/Debug/net6.0
/src/BallastLaneBackEnd.CrossCutting.IoC/bin/Debug/net6.0
/src/BallastLaneBackEnd.CrossCutting.IoC/obj
/src/BallastLaneBackEnd.Domain/obj/Debug/net6.0
/src/BallastLaneBackEnd.Infra/obj/Debug/net6.0
/src/BallastLaneBackEnd.Domain/bin/Debug/net6.0
/src/BallastLaneBackEnd.Infra/bin/Debug/net6.0
/src/BallastLaneBackEnd.Domain/obj/Release/net6.0/BallastLaneBackEnd.Domain.assets.cache
/src/BallastLaneBackEnd.Domain/obj/Release/net6.0/BallastLaneBackEnd.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/BallastLaneBackEnd.Infra/obj/Release/net6.0
